/* 2022 */
div.img1 {
    background-image: url('../Images/imagem11.jpg');
}

/* 2022 */
div.img2 {
    background-image: url('../Images/imagem12.jpg');
}

/* 2020 */
div.img3 {
    background-image: url('../Images/imagem9.jpg');
}

/* 2019 */
div.img4 {
    background-image: url('../Images/imagem10.jpg');
}

/* 2019 */
div.img5 {
    background-image: url('../Images/imagem8.jpg');
}

/* 2015 */
div.img6 {
    background-image: url('../Images/imagem7.jpg');
}
