/* 2022 */
div.img1 {
    background-image: url('../Images/imagem11.jpg');
}

/* 2022 */
div.img2 {
    background-image: url('../Images/imagem12.jpg');
}

/* 2020 */
div.img3 {
    background-image: url('../Images/imagem9.jpg');
}

/* 2020 */
div.img4 {
    background-image: url('../Images/imagem1.jpg');
}

/* 2019 */
div.img5 {
    background-image: url('../Images/imagem10.jpg');
}

/* 2019 */
div.img6 {
    background-image: url('../Images/imagem5.jpg');
}

/* 2019 */
div.img7 {
    background-image: url('../Images/imagem8.jpg');
}

/* 2016 */
div.img8 {
    background-image: url('../Images/imagem3.jpg');
}

/* 2015 */
div.img9 {
    background-image: url('../Images/imagem7.jpg');
}

/* 2013 */
div.img10 {
    background-image: url('../Images/imagem6.jpg');
}

/* 2010 */
div.img11 {
    background-image: url('../Images/imagem2.jpg');
}

/* 1990 */
div.img12 {
    background-image: url('../Images/imagem4.jpg');
}

