/*pagina*/
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #242428;
}

/*cabeçalho*/
header, h1, nav {
    display: flex;
    align-items: center;
}

header {
    flex-direction: column;
    position: fixed;
    width: 95%;
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 20px 20px;
    border-bottom: 1px solid #ffffff3d;
    box-shadow: 0px 10px 5px #00000036;
}

header h1 {
    font-size: 3em;
    font-family: 'Cube';
    color: #ffffff;
    margin-top: 20px;
    background-color: #24242899;
    height: 60px;
    border-radius: 14px;
}

header span {
    color: #0390c5;
    filter: drop-shadow(0 0 10px #00bbff);
}

ul, li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
}

nav {
    height: 50px;
    width: 50%;
    min-width: 940px;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #24242899;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Cube';
    font-size: 1.5em;
}

header a:hover, .selecionado a {
    color: #0390c5;
    filter: drop-shadow(0 0 10px #00bbff);
}


/*Corpo da pagina*/
main {
    width: 90%;
}

section:nth-child(1) {
    margin-top: 150px;
}

div.caixa {
    height: 77vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.caixa::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#ffffff00, #0000009c);
}

div.campo {
    color: #ffffff;
    /* min-height: 185px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 60px #000000a1;
}
div.campo h3{
    font-size: 3em;
    margin: 10px;
    font-family: 'command';
}

div.campo p {
    margin: 10px 25px;
    font-family: 'Easport';
    line-height: 30px;
}

div.campo div:nth-child(3) {
    display: flex;
    justify-content: center;
}

div.campo a {
    display: flex;
    margin: 10px;
    font-family: 'Easport';
    background-color: #24242899;
    padding: 10px 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-bottom: 1px solid #ffffff3d;
    box-shadow: 0px 10px 5px #00000036;
    color: #bbbbbb;
}

div.campo a:hover {
    color: #0390c5;
    filter: drop-shadow(0 0 10px #00bbff);
}

div.campo span {
    display: flex;
    margin: 10px;
    font-family: 'Easport';
    justify-content: flex-end;
    color: #bbbbbb;
}
